@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
    --font: Outfit;
    --bg-primary: #f5f5f5;
    --bg-secondary: #fafafa;
    --btn-primary: #262626;
    --btn-accent: #404040;
    --focus-accent: #5d37b859;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-primary);
    font-family: var(--font);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
    padding: 16px;
    gap: 32px;
}

.form_container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    gap: 24px;
    padding: 24px;
    border-radius: 24px;
    background-color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.form_aside {
    width: 400px;
    height: 500px;
    border-radius: 4px;
    background-color: red;
    overflow: hidden;
}

.form_aside > img {
    height: 100%;
    width: 100%;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.input {
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--bg-secondary);
}

form > button {
    width: 100%;
    background-color: var(--btn-primary);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 0;
}

form > button:hover {
    background-color: var(--btn-accent);
    cursor: pointer;
}

form > button:focus-visible,
.input:focus-visible {
    outline: 2px solid var(--focus-accent);
}

textarea {
    resize: none;
}
